<!--2 jumbotron-->

 <div class = "jumbotron bg-info text-white text-center" style="background-color: orange" id = "myjumbo">
    <div class = "container">
          <h1 class = "display-1"> Featured Deals</h1>
          <h2 >Scroll down to see the latest products!</h2>
    </div>
 </div>

 <!-- cards for product display-->


<div class = "container">
<div class = "row">

<div class = "card col-lg-6">
	 <img class = "card-img-top img-fluid"  src = "http://drop.ndtv.com/TECH/product_database/images/832016120148PM_635_oppo_f1s.jpeg"/>
     <div class = "card-block text-center">
      <h2 class = "card-title" id = "title1">Oppo S1</h4>
      <p class = "card-text">Rs 9999 after discount!</p>
     </div>
</div>

<div class = "card col-lg-6">
	 <img class = "card-img-top img-fluid "  src = "http://drop.ndtv.com/TECH/product_database/images/329201783846PM_635_samsung_galaxy_s8.jpeg"/>
     <div class = "card-block text-center">
      <h2 class = "card-title" id = "titlex">Samsung S8</h4>
      <p class = "card-text">Rs 49999 after discount!</p>
     </div>
</div>


<div class = "card col-lg-12">
	 <img class = "card-img-top img-fluid center-block" src = "http://4.bp.blogspot.com/-tcDbAwyFnz4/UO_xj9uP0UI/AAAAAAABPz0/oeLMyNBBk4U/s1600/image009.jpg"/>
     <div class = "card-block text-center">
      <h2 class = "card-title" id = "title2">Samsung Curved TV</h4>
      <p class = "card-text">Rs 99999 after discount!</p>
     </div>
</div>

<div class = "card col-lg-6">
	 <img class = "card-img-top img-fluid" src = "https://images-na.ssl-images-amazon.com/images/I/41uYl4qWMOL.jpg"/>
     <div class = "card-block text-center">
      <h2 class = "card-title" id = "title3">Braun Cruzer series 6</h4>
      <p class = "card-text">Rs 999 after discount!</p>
     </div>
</div>

<div class = "card col-lg-6">
	 <img class = "card-img-top img-fluid" src = "https://smedia.webcollage.net/rwvfp/wc/cp/21851835/module/nutribullet/_cp/products/1447192126515/tab-28a6bc5c-d5a4-4cb3-abfb-a7114a9301d8/0166a7e9-0b03-4efe-8bde-3a1030e6c73f.jpg.w480.jpg"/>
     <div class = "card-block text-center">
      <h2 class = "card-title" id = "title3">Magic Bullet</h4>
      <p class = "card-text">Rs 1999 after discount!</p>
     </div>
</div>

</div>
</div>
